@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #217496;
  --dark: #1e1e1e;
  --light: #ebf3f6;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-open-sans), sans-serif;
  scroll-behavior: smooth;
}

.prose {
  @apply text-gray-800;
}

.prose h2 {
  @apply text-xl font-semibold text-dark mt-6 mb-4;
}

.prose h3 {
  @apply text-lg font-semibold text-dark mt-5 mb-3;
}

.prose p {
  @apply mb-4;
}

.prose ul {
  @apply list-disc pl-5 mb-4;
}

.prose li {
  @apply mb-2;
}

/* PWA styles */
@media (display-mode: standalone) {
  /* Styles specific to when the app is installed as a PWA */
  body {
    overscroll-behavior-y: none; /* Prevents the pull-to-refresh action */
  }
}